/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;
}
/* og látum erfast á allt */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* hjálpar class sem felur sjónrænt en skjálesarar lesa */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

:root {
  /* Grunn bilið okkar er 1rem == 16px */
  --font-base-body-px: 16px;
  --spacing: 1rem;
  --doubleSpacing: 2rem;
  --halfSpacing: 0.5rem;
  --quarterSpacing: 0.25rem;

  /* Hámarksbreidd á efni */
  --max-width: 900px;

  /* Border breiddir */
  --border-small: 1px;
  --border-large: 8px;
  --border-radius: 6px;

  /* Litir */
  --color-gold: #ffe7ae;
  --color-gold-light: #fff1cf;
  --color-dark: #2f0505;
  --color-light: #fff9ee;

  /* Letur stillingar */
  --font-base-size: 1rem;
  --font-family-base: 'Noto Sans Display', Helvetica, Arial, sans-serif;
  --font-family-heading: 'Lora', Georgia, serif;
}

/*** Almennt ***/

html,
input,
select,
button {
  font-size: 16px;
  font-family: var(--font-family-base);
}

h1,h2,h3,h4,h5 {
  font-family: var(--font-family-heading);
}

a {
  color: inherit;
}

.box a {
  margin-bottom: var(--quarterSpacing);
}

h2,
h3,
section {
  margin-bottom: var(--spacing);
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: top;
  height: 400px;
  width: 400px;
  margin-bottom: var(--halfSpacing);
}

/*** Haus ***/

body > header {
  padding: var(--spacing);
  border-bottom: var(--border-large) solid var(--color-gold);
  display: flex;
  background-color: var(--color-dark);
  color: var(--color-gold-light);
  flex-direction: column;
  align-items: center;
}

/*** Valmynd ***/

nav {
  margin-bottom: var(--spacing);
  padding: var(--spacing);

  background-color: var(--color-light);
  color: var(--color-dark);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  padding-right: var(--spacing);
}

/*** Meginmál ***/

main {
  margin: 0 auto;
  padding-left: var(--spacing);
  padding-right: var(--spacing);
  max-width: var(--max-width);
}

/*** Fótur ***/

footer {
  margin-top: var(--spacing);
  padding: var(--spacing);
  border-top: var(--border-large) solid var(--color-gold);

  background-color: var(--color-dark);
  color: var(--color-gold-light);
  display: flex;
  gap: 5%;
  flex-direction: row;
  justify-content: center;
}

footer section {
  vertical-align: top;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer ul, footer dl {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*** Box! ***/

.boxes {
  display: flex;
  gap: var(--doubleSpacing);
  padding-bottom: var(--spacing);
}

.box {
  list-style: none;
  border-radius: var(--halfSpacing);
  margin-bottom: var(--spacing);
  vertical-align: top;
  width: 100%;
  padding: var(--halfSpacing);
  background-color: var(--color-gold-light);
  display: flex;
  flex-direction: column;
}

.box .boxContent {
  flex: 1;
}

.box a {
  margin-top: var(--spacing);
  font-weight: bold;
}

.box h3 {
  border-bottom: var(--border-small) solid black;

}

/*** Opnunartími ***/

dt {
  font-weight: bold;
}

dd {
  margin-bottom: var(--spacing);
}

/*** Matseðill ***/

table {
  margin-bottom: var(--spacing);
  border-spacing: 0;
  width: 100%;
}

table th,
table td {
  padding: var(--halfSpacing);
}

table tbody tr:nth-child(2n + 1) {
  background-color: var(--color-gold);
}

/*** Pöntunarform ***/


fieldset {
  margin-bottom: var(--spacing);
  border: var(--border-small) solid black;
  padding: var(--spacing);
}

fieldset legend {
  font-weight: bold;
}

fieldset div {
  margin-bottom: var(--spacing);
}

fieldset div label {
  display: flex;
}

fieldset input,
fieldset select,
fieldset textarea {
  padding: var(--halfSpacing);
}

fieldset .check {
  padding-left: var(--halfSpacing);
  padding-top: var(--spacing);
}

form button {
  padding: var(--quarterSpacing);
  border-radius: var(--border-radius);
  width: 100%;
}

